@model Volunteer_Web.ViewModel.AbnormaleventStageVM

@{
    ViewBag.Title = "Edit";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="fullscreen_bg" class="fullscreen_bg" />
<div class="container">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">編輯資料</div>
            </div>
            <div class="panel-body">
                <form method="post" action="~/Abnormalevent/Edit" class="form-horizontal">

                    <input type="hidden" name="Abnormal_event_no" id="Abnormal_event_no" value="@Model.abnormalevent.Abnormal_event_no" />

                    <div class="form-group">
                        <label for="Abnormal_event_ID" class="col-md-2 control-label">
                            事件案號
                        </label>
                        <div class="col-md-10">                          
                            <input type="text" class="form-control" name="Abnormal_event_ID" id="Abnormal_event_ID" value="@Model.abnormalevent.Abnormal_event_ID" autocomplete="off" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Abnormal_event1" class="col-md-2 control-label">
                            異常事件
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Abnormal_event1" id="Abnormal_event1" value="@Model.abnormalevent.Abnormal_event1" autocomplete="off" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Unit_descrition" class="col-md-2 control-label">
                            事件描述
                        </label>
                        <div class="col-md-10">
                            <textarea name="Unit_descrition" class="form-control" id="Unit_descrition" rows="6" autocomplete="off" required>@Model.abnormalevent.Unit_descrition</textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Application_unit1" class="col-md-2 control-label">
                            運用單位
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Application_unit1"
                                   value="@Model.abnormalevent.Application_unit.Application_unit1" readonly />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Chinese_name" class="col-md-2 control-label">
                            當事員工
                        </label>
                        <div class="col-md-10">
                            @*<input type="text" class="form-control" name="Chinese_name"
                                value="@Model.abnormalevent.Volunteer.Chinese_name" />*@
                            @Html.DropDownList("Volunteer_no", (SelectList)ViewBag.editvoluteer, new { @class = "form-control" })
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="Stage1" class="col-md-2 control-label">
                            處理階段
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Stage1"
                                   value="@Model.stage.Stage1" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Notification_date" class="col-md-2 control-label">
                            通報時間
                        </label>
                        <div class="col-md-10">                         
                            @Html.DisplayFor(a => a.abnormalevent.Notification_date)
                            @*<input type="text" class="form-control" name="Notification_date"
                                   value="@Model.abnormalevent.Notification_date.ToShortDateString()" readonly />*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supervision_Name" class="col-md-2 control-label">
                            負責督導
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="supervision_Name"
                                   @if (Model.abnormalevent.Supervisor_ID != null)
                                   {
                                     @:value = "@Model.abnormalevent.Volunteer_supervision.supervision_Name"
                                   }                                
                                   readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Volunteer_description" class="col-md-2 control-label">
                            志工自述
                        </label>
                        <div class="col-md-10">
                            <textarea name="Volunteer_description" class="form-control" rows="6" readonly>@Model.abnormalevent.Volunteer_description</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Supervisor_description" class="col-md-2 control-label">
                            督導敘述
                        </label>
                        <div class="col-md-10">
                            <textarea name="Supervisor_description" class="form-control" rows="6" readonly>@Model.abnormalevent.Supervisor_description</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Result" class="col-md-2 control-label">
                            判決結果
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Result"
                                   value="@Model.abnormalevent.Result" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Closing_date" class="col-md-2 control-label">
                            結案時間
                        </label>
                        <div class="col-md-10">
                            @Html.DisplayFor(a => a.abnormalevent.Closing_date,new { @class = "control-label" })
                            @*<input type="text" class="form-control" name="Closing_date"
                                   value="@Model.abnormalevent.Closing_date" readonly />*@
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" id="alter" value="送出" onclick="return confirm('確定要送出修改嗎?')" />
                            <a href="~/Abnormalevent/Cancel/@Model.abnormalevent.Abnormal_event_no" class="btn btn-danger" onclick="return confirm('確定要取消事件嗎？取消後將無法復原')">取消申請</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
