
@{
    ViewBag.Title = "Schedule";
}
@*@{
    List<SelectListItem> WishSelectItem = new List<SelectListItem>();
    WishSelectItem.AddRange(new[]
                          { new SelectListItem() {Text = "______",Value = "0" },
    new SelectListItem() {Text = "1",Value = "1" },
    new SelectListItem() {Text = "2",Value = "2" },
    new SelectListItem() {Text = "3",Value = "3" } });

}*@
<br />
<br />
<br />
<br />
<br />
<style>
    table {
        table-layout: fixed;
        word-break: break-word;
        width:100%;
        /*overflow-wrap:break-word;*/
    }

    th, td {
        text-align: center;
        /*width:100%*/
    }
    button{
             /*width:50%;*/
             margin:3px;
        }
</style>
<h2>志願預排</h2>
<table class="table table-bordered ">
    <thead>
        <tr>
            <th></th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>上午</td>
            <td data-service_period_no="1"><p ></p></td>
            <td data-service_period_no="4"><p ></p></td>
            <td data-service_period_no="7"><p ></p></td>
            <td data-service_period_no="10"><p ></p></td>
            <td data-service_period_no="13"><p></p></td>
            <td data-service_period_no="16"><p ></p></td>
            <td data-service_period_no="18"><p></p></td>
        </tr>
        <tr>
            <td>下午</td>
            <td data-service_period_no="2"><p></p></td>
            <td data-service_period_no="5"><p></p></td>
            <td data-service_period_no="8"><p></p></td>
            <td data-service_period_no="11"><p></p></td>
            <td data-service_period_no="14"><p></p></td>
            <td data-service_period_no="17"><p></p></td>
            <td data-service_period_no="19"><p></p></td>
        </tr>
        <tr>
            <td>夜間</td>
            <td data-service_period_no="3"><p></p></td>
            <td data-service_period_no="6"><p></p></td>
            <td data-service_period_no="9"><p></p></td>
            <td data-service_period_no="12"><p></p></td>
            <td data-service_period_no="15"><p ></p></td>
            <td colspan="2" ><button id="btn_edit" class="btn btn-info ">編輯</button><button id="btn_insert" class="btn btn-info ">儲存</button></td>

        </tr>
        @*<tr>
            <td>上午</td>
            <td data-service_period_no="1">@Html.DropDownList("select1", WishSelectItem)</td>
            <td data-service_period_no="4">@Html.DropDownList("select4", WishSelectItem)</td>
            <td data-service_period_no="7">@Html.DropDownList("select7", WishSelectItem)</td>
            <td data-service_period_no="10">@Html.DropDownList("select10", WishSelectItem)</td>
            <td data-service_period_no="13">@Html.DropDownList("select13", WishSelectItem)</td>
            <td data-service_period_no="16">@Html.DropDownList("select16", WishSelectItem)</td>
            <td data-service_period_no="18">@Html.DropDownList("select18", WishSelectItem)</td>
        </tr>
        <tr>
            <td>下午</td>
            <td data-service_period_no="2">@Html.DropDownList("select2", WishSelectItem)</td>
            <td data-service_period_no="5">@Html.DropDownList("select5", WishSelectItem)</td>
            <td data-service_period_no="8">@Html.DropDownList("select8", WishSelectItem)</td>
            <td data-service_period_no="11">@Html.DropDownList("select11", WishSelectItem)</td>
            <td data-service_period_no="14">@Html.DropDownList("select14", WishSelectItem)</td>
            <td data-service_period_no="17">@Html.DropDownList("select17", WishSelectItem)</td>
            <td data-service_period_no="19">@Html.DropDownList("select19", WishSelectItem)</td>
        </tr>
        <tr>
            <td>夜間</td>
            <td data-service_period_no="3">@Html.DropDownList("select3", WishSelectItem)</td>
            <td data-service_period_no="6">@Html.DropDownList("select6", WishSelectItem)</td>
            <td data-service_period_no="9">@Html.DropDownList("select9", WishSelectItem)</td>
            <td data-service_period_no="12">@Html.DropDownList("select12", WishSelectItem)</td>
            <td data-service_period_no="15">@Html.DropDownList("select15", WishSelectItem)</td>
            <td colspan="2"><button id="btn_insert" class="btn btn-success">送出</button></td>
        </tr>*@
    </tbody>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script> 
    var btn_edit = $("#btn_edit");
    var btn_insert = $("#btn_insert");
    var select = $("td>p");  
    var re = /^[1-3]{1}$/
    $(document).ready(function () {
        //================================有新增過資料就顯示=================================
        //$.getJSON("/Volunteer/Getjson", function (datas) {
        //    $.each(datas, function (index, vals) {
        //        $("td[data-service_period_no='" + vals.Service_period_no + "']").find(select).val(vals.Wish_order);
        //    });
        //});
                $.getJSON("/Volunteer/Getjson", function (datas) {
                    $.each(datas, function (index, vals) {
                        $("td[data-service_period_no='" + vals.Service_period_no + "']").find(select).text(vals.Wish_order);
            });
        });
        //================================新增/修改志願=======================================
        btn_edit.click(function () {
            switch ($(this).text())
            {
                case "編輯":
                    $(this).text("完成").removeClass("btn-info").addClass("btn-danger")
                    select.attr("contenteditable", true).css("border", "1px solid black")
                    break;
                case "完成":
                    $(this).text("編輯").removeClass("btn-danger").addClass("btn-info")
                    select.attr("contenteditable", false).css("border", "none")
                    break;
            }           
        });
        select.keyup(function () {
            if (!re.test($(this).text()))
            {
                alert("請填入1-3");
                $(this).text("");
            }
        });
        btn_insert.click(function () {
            if (btn_edit.text() == "完成") {
                alert("請先完成編輯");
            }
            else {
                var wish1 = [];
                var wish2 = [];
                var wish3 = [];
                $("td").children("p").each(function () {
                    switch ($(this).text()) {
                        case "1":
                            wish1.push($(this).parents("td").data("service_period_no"));
                            break;
                        case "2":
                            wish2.push($(this).parents("td").data("service_period_no"));
                            break;
                        case "3":
                            wish3.push($(this).parents("td").data("service_period_no"));
                            break;
                    }
                });
                if (wish1.length == 0) {
                    alert("至少要有1個志願1");
                }
                else if (wish3.length != 0 && wish2.length == 0) {
                    alert("缺少志願2，不能直接選志願3")
                }
                else {
                    var divery = [wish1];
                    var wishID = [1];
                    if (wish2.length != 0) {
                        divery.push(wish2);
                        wishID.push(2);
                    }
                    if (wish3.length != 0) {
                        divery.push(wish3);
                        wishID.push(3);
                    }
                    $.ajax({
                        type: "post",
                        url: "/Volunteer/Schedule",
                        data: { "id": @ViewBag.UserID, "wishid": wishID, "service_no": divery }
                    }).done(function (data) {
                        alert(data);
                        window.location.href = "/Volunteer/Index"
                    });
                }
            }
        });            
    });
</script>
