<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet" />
    <!--登入使用▼-->
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/util.css" rel="stylesheet" />
    <!--登入使用▲-->
    <link href="~/Css/blog.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />益註解*@
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@<!--新增▼過來-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--12/30導覽列動畫、頁尾樣式表-->
    <link href="~/Css/Button.css" rel="stylesheet" />
    <link href="~/Css/layout_use2.css" rel="stylesheet" />
    @RenderSection("Home_style", false)
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
    @*fixed-top*@
    <div class="container fixed-top" style="background-color:white">
        <header class="blog-header py-2">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    @Html.ActionLink("亞東醫院志願服務隊", "Index", "Home", null, new { @class = "blog-header-logo text-dark" })
                    @*<a class="blog-header-logo text-dark" href="#">亞東醫院志願服務隊</a>*@
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                    </a>
                    <!--11271414益修改▼-->
                    @*<a class="btn btn-sm btn-outline-secondary" href="#">登入</a>*@
                    <div class="dropdown">
                        @{ <!--判斷有無登入者，切換功能-->
                            if (Session["UserName"] == null)
                            {
                                <a id="dropdownMenuLink" class="btn btn-secondary btn-sm btn-outline-secondary" data-toggle="modal" data-target="#LoginModal">登入</a>
                            }
                            else
                            {
                                <a class="btn btn-secondary btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="">@Session["UserType"] @Session["UserName"]</a>
                            }
                        }
                        <div class="dropdown-menu" aria-labelledby="dLabel">
                            @Html.ActionLink("個人首頁", "Index", "Supervision", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("首頁維護", "Home_maintenance", "Supervision", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("績優志工維護", "Experience", "Supervision", null, new { @class = "dropdown-item" })
                            <a class="p-2 text-muted" href="#">志工申請維護</a>
                            @Html.ActionLink("登出", "LogOut", "Login", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                    <!--11271414益修改▲-->
                </div>
            </div>
        </header>
        <div class="nav-scroller ">
            <nav id="nav_bar" class="nav d-flex justify-content-between ">
                <div class="p-1">
                    @Html.ActionLink("個人首頁", "Index", "Supervision", null, new { @class = "text-muted Home_nav" })
                    <canvas class="nav_animate_gray"></canvas>
                </div>
                <div class="p-1">
                    @Html.ActionLink("首頁維護", "Home_maintenance", "Supervision", null, new { @class = "text-muted Home_nav" })
                    <canvas class="nav_animate_gray"></canvas>
                </div>
                <div class="p-1">
                    @Html.ActionLink("績優志工維護", "Experience", "Supervision", null, new { @class = "text-muted Home_nav" })
                    <canvas class="nav_animate_gray"></canvas>
                </div>
                <div class="p-1">
                    <a class="text-muted Home_nav" href="#">志工申請維護</a>
                    <canvas class="nav_animate_gray"></canvas>
                </div>
            </nav>
        </div>
    </div>
    <main role="main" class="container body-content py-5">
        <div>
            @RenderBody()
        </div>
    </main>
    <footer class="container footer_use_gray">
        <ul>
            <li class="footer_main_li">亞東醫院志願服務隊</li>
            <li class="footer_rest_li">地址：220新北市板橋區南雅南路二段21號</li>
            <li class="footer_rest_li">意見信箱：swfemh@mail.femh.org.tw</li>
            <li class="footer_rest_li">電話：(02)8966-7000 / (02)8966-7000</li>
            <li class="footer_rest_li">傳真：(02)7728-2377</li>
            <li class="footer_rest_li">&copy;Far Eastern Memorial Hospital.</li>
        </ul>
    </footer>
    @*<footer class="blog-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://www.rec.uk.com/__data/assets/image/0010/377047/Contact-us-header-image.jpg" width="300" height="130" />
                    </div>
                    <div class="col-sm-4">
                        <p>
                            地址：220新北市板橋區南雅南路二段21號
                        </p>
                        <p>
                            意見信箱：swfemh@mail.femh.org.tw
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            電話：(02)8966-7000 / (02)8966-7000
                        </p>
                        <p>
                            傳真：(02)7728-2377
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center text-black-50 py-3">
                <p>© Far Eastern Memorial Hospital.</p>
            </div>
        </footer>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script> <!--新增過來-->
    <script src="~/Scripts/holder.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script>
        $(document).ready(function () {
            var nav_bar = $("#nav_bar");
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
            /*動畫使用*/
            nav_bar.find("div").each(function () {
                $(this).mouseenter(function () {
                    $(this).find("canvas").stop();
                    $(this).find("canvas").animate({ "width": $(this).width() + "px" }, 500);
                    $(this).find("ul[name='nav_ul']").show();
                });
            });
            nav_bar.find("div").each(function () {
                $(this).mouseleave(function () {
                    $(this).find("canvas").stop();
                    $(this).find("canvas").animate({ "width": "0px" }, 500);
                    $(this).find("ul[name='nav_ul']").hide();

                });
            });
        });
    </script>
    @RenderSection("Home_script", false)
    @RenderSection("script", false)
    @Html.Action("ScriptView", "Login")
    @RenderSection("calendar", false)
</body>
</html>