@model Volunteer_Web.ViewModel.Sign_up_Alldata_VM
@section Home_style{
    <style>
        .fontstyle {
            font-size: 20px;
            font-family: 微軟正黑體;
        }
    </style>
}

<div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><<label>姓名:</label></td>
                <td><<label>@Model.Chinese_name</label></td>
            </tr>
            <tr>
                <td><<label>姓別:</label></td>
                <td><<label>@Model.Sex</label></td>
            </tr>
            <tr>
                <td><<label>生日:</label></td>
                <td><<label>@Model.Birthday</label></td>
            </tr>
            <tr>
                <td><<label>申請類別:</label></td>
                <td><<label>@Model.Sign_up_type</label></td>
            </tr>
            <tr>
                <td><<label>市話:</label></td>
                <td><<label>@Model.Phone</label></td>
            </tr>
            <tr>
                <td><<label>手機:</label></td>
                <td><<label>@Model.Mobile</label></td>
            </tr>
            <tr>
                <td><<label>電子郵件:</label></td>
                <td><<label>@Model.Email</label>/td>
            </tr>
            <tr>
                <td><label>地址:</label></td>
                <td><label>@Model.Address</label></td>
            </tr>
            <tr>
                <td><label>教育程度:</label></td>
                <td><label>@Model.Education</label></td>
            </tr>
            <tr>
                <td><label>工作類別:</label></td>
                <td><label>@Model.Job</label></td>
            </tr>
            <tr>
                <td><label>專長:</label></td>
                @foreach (var row in @Model.Expertises)
                {
                    <td>
                        <label>@row</label>
                    </td>
                }
            </tr>
            <tr>
                <td><label>為何想成為志工:</label></td>
                @foreach (var row in @Model.Q1)
                {
                    <td>
                        @if (!string.IsNullOrEmpty(@Model.Q1esle))
                        {
                            <label>@row: @Model.Q1esle</label>
                        }
                        else
                        {
                            <label>@row</label>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td><label>您為何選擇亞東醫院做志工服務:</label></td>
                @foreach (var row in @Model.Q2)
                {
                    <td>
                        @if (!string.IsNullOrEmpty(@Model.Q2esle))
                        {
                            <label>@row: @Model.Q2esle</label>
                        }
                        else
                        {
                            <label>@row</label>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td><label>您是由何處得知亞東醫院招募志工的消息:</label></td>
                @foreach (var row in @Model.Q3)
                {
                    <td>
                        @if (!string.IsNullOrEmpty(@Model.Q3doc))
                        {
                            <label>@row: @Model.Q3doc</label>
                        }
                        else
                        {
                            <label>@row</label>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td><label>您以前與亞東醫院的互動關係為:</label></td>
                @foreach (var row in @Model.Q4)
                {
                    <td>
                        @if (!string.IsNullOrEmpty(@Model.Q4esle))
                        {
                            <label>@row: @Model.Q4esle</label>
                        }
                        else
                        {
                            <label>@row</label>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td><label>您是否曾經或正在其他機構擔任志工:</label></td>
                @foreach (var row in @Model.Q5)
                {
                    <td>
                        @if (!string.IsNullOrEmpty(@Model.Q5unit))
                        {
                            <label>@row: @Model.Q5years @Model.Q5unit @Model.Q5content</label>
                        }
                        else
                        {
                            <label>@row</label>
                        }
                    </td>
                }
            </tr>
        </tbody>
        
    </table>
    

    <a href="~/Home/InsertSign_up" class="btn btn-success">確定</a>
</div>
