@model Volunteer_Web.ViewModel.Manpower_applyStageVM
@{
    ViewBag.Title = "Detail";
}

<style>
    *[role="form"] {
        max-width: 530px;
        padding: 15px;
        margin: 0 auto;
        border-radius: 0.3em;
    }
</style>

<div class="cotainer" style="margin-top:50px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="text-align:center;font-size:40px;">年度人力申請詳細資料</div>
                <div class="card-body">
                    <form class="form-horizontal" method="post" action="~/ManpowerApply/Detail" role="form">
                        <div class="form-group row">
                            <input type="hidden" name="Apply_ID" value="@Model.manpower_apply.Apply_ID">
                            <label class="col-md-4 col-form-label text-md-left" for="Application_unit1">運用單位</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Application_unit.Application_unit1</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-left" for="Apply_date">申請日期</label>
                            <div class="col-md-8">
                                <label>@Html.DisplayFor(m => m.manpower_apply.Apply_date)</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-left" for="Reply_date">核定日期</label>
                            <div class="col-md-8">
                                <label>@Html.DisplayFor(m => m.manpower_apply.Reply_date)</label>
                                @*<span class="col-md-8">@Html.Label("-",Model.manpower_apply.Reply_date)</span>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-left" for="Applicant">申請人</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Applicant</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Applicant_phone" class="col-md-4 col-form-label text-md-left">電話</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Applicant_phone</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Application_number" class="col-md-4 col-form-label text-md-left">需求人數</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Application_number</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Reply_number" class="col-md-4 col-form-label text-md-left">核定人數</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Reply_number</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Apply_description" class="col-md-4 col-form-label text-md-left">志工工作項目與流程</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Apply_description</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Application_unit_Supervisor" class="col-md-4 col-form-label text-md-left">單位主管</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Application_unit_Supervisor</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Supervision_ID" class="col-md-4 col-form-label text-md-left">志工督導</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Supervision_ID</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Supervision_heads" class="col-md-4 col-form-label text-md-left">志工督導主管</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Supervision_heads</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Repply_description" class="col-md-4 col-form-label text-md-left">志工督導評估建議</label>
                            <div class="col-md-8">
                                <label>@Model.manpower_apply.Repply_description</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Stage" class="col-md-4 col-form-label text-md-left">申請階段</label>
                            <div class="col-md-8">
                                <label>@Model.stage.Stage1</label>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4" ">
                            @if (@Model.stage.Stage1 == "新申請" || @Model.stage.Stage1 == "申請駁回")
                            {
                                <a href="~/ManpowerApply/Edit/@Model.manpower_apply.Apply_ID" class="btn btn-info">修改資料</a>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Home_script{
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    </script>
}
