@model IEnumerable<Volunteer_Web.ViewModel.Manpower_applyStageVM>
@{
    ViewBag.Title = "Manpower_apply_Index";
}

<h2>人力需求申請</h2>

<div class="row">
    <div class="col-3">
        <a href="~/ManpowerApply/Insert" class="btn btn-primary" target="_blank">新增申請</a>
        <a href="~/ManpowerApply/All" class="list-group-item list-group-item-action">所有階段</a>
        <a href="~/ManpowerApply/New" class="list-group-item list-group-item-action">新申請</a>
        <a href="~/ManpowerApply/Processing" class="list-group-item list-group-item-action">處理中</a>
        <a href="~/ManpowerApply/Complete" class="list-group-item list-group-item-action">申請完成</a>
        <a href="~/ManpowerApply/Overrule" class="list-group-item list-group-item-action">申請駁回</a>
        <a href="~/ManpowerApply/Revoke" class="list-group-item list-group-item-action">取消申請</a>
        @*@foreach (var stage in Model)
        {
            @Html.ActionLink(stage.stage.Stage1, "Browse", "Stage", new { id = stage.stage.Stage_ID }, new { @class = "list-group-item list-group-item-action" })
        }*@
    </div>
    <div class="col-9">
        <div class="row">
            <input type="date" class="form-control" id="date1" name="date1" />～
            <input type="date" class="form-control" id="date2" name="date2" />
            <a href="~/ManpowerApply/SelectDate" class="btn btn-info">查詢</a>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>申請日期</th>
                        @*<th>核定日期</th>*@
                        <th>值班地點</th>
                        <th>申請人數</th>
                        <th>核定人數</th>
                        <th>申請階段</th>
                        <th>檢視/編輯</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.manpower_apply.Apply_date.ToShortDateString().ToString()</td>
                            @*<td>@item.manpower_apply.Reply_date</td>*@
                            <td>@item.manpower_apply.Work_place</td>
                            <td>@item.manpower_apply.Application_number</td>
                            <td>@item.manpower_apply.Reply_number</td>
                            <td>@item.stage.Stage1</td>
                            <td><a href="~/ManpowerApply/Detail/@item.manpower_apply.Apply_ID" class="btn btn-primary">詳細資料</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
